* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'helvetica neue'; */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

html{
    font-family: monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


p{
    color: rgb(10, 253, 10);
    font-size:  3rem;
}